.menuItem .deleteButton {
    display: none;
    position: absolute;
    right: 8px;
}

.menuItem .deleteButton::before {
    display: none;
}

.menuItem:hover .deleteButton {
    display: inline-block;
}

.chat {
    padding-bottom: env(safe-area-inset-bottom);
}
